* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #faf7f7;
}

/*navegation bar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
  color: #787164;
}

.nav_list {
  list-style: none;
  display: flex;
}

.nav_list .nav_links {
  padding: 0 20px;
}

.nav_list .nav_links a:hover {
  color: #bf9780;
}

/*wishlist*/

.wishlist-title {
  display: flex;
  justify-content: center;
  color: #90736e;
}
.bar-row {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.wishlist-container {
  display: grid;
  width: 500px;
  background-color: #f5f1ee;
  justify-content: center;
  padding: 50px;
  margin: 2em auto;
  border: 1px ridge #dac8be;
  border-radius: 10px;
  flex-direction: column;
}

.shop-item {
  display: grid;
  place-items: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

li {
  list-style: none;
  display: inline-block;
  justify-content: center;
  padding: 3px;
}

.item-thumbnail {
  max-width: 200px;
  max-height: 200px;
}

.fake-btn {
  background-color: #ccb3a3;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: black;
  font-size: 15px;
  box-shadow: inset 0 0 1px 1px gray;
}
/* 
#disabled-button {
  cursor: not-allowed;
} */

.item-description {
  margin-top: 5px;
  text-align: center;
}
/* cart */

h3 {
  display: flex;
  justify-content: center;
  color: #90736e;
}

.cart-items {
  display: grid;
  margin-top: 30px;
}

.cart-thumbnail {
  margin-left: 50px;
}

.cart-total-container {
  justify-content: center;
  text-align: center;
}

.cart-button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

/* CHECKOUT*/

.checkout-title {
  text-align: center;
  color: #90736e;
  margin-bottom: 20px;
  margin-top: 0px;
}

.container {
  background-color: #f4f0e7;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 2em auto;
  border: 1px ridge #dac8be;
  border-radius: 10px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: 350px;
  height: 350px;
  position: relative;
  border-radius: 10px;
}

.wrapper .form {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper .form input {
  height: 40px;
  width: 100%;
  font-size: 18px;
  border: 2px solid #eee;
  border-radius: 4px;
  text-indent: 10px;
  margin-top: 4px;
}

.wrapper .form input:focus {
  outline: none;
}

.input-items span {
  font-size: 14px;
  margin-left: 2px;
}

.input-items {
  margin-bottom: 10px;
}

.one-line {
  display: flex;
  flex-direction: row;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn {
  background-color: #ccb3a3;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

/*INFO*/
.info-container {
  display: grid;
  width: 500px;
  background-color: #f5f1ee;
  justify-content: center;
  padding: 50px;
  margin: 2em auto;
  border: 1px ridge #dac8be;
  border-radius: 10px;
  flex-direction: column;
}

.info-title {
  margin-bottom: 20px;
  text-align: center;
}

.create-wishlist {
  margin-top: 20px;
}

/* success */
h4 {
  color: #90736e;
}
